body {
    font-family: 'Roboto Condensed', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300;
}

.navText {
    font-size: 20px;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

span.primaryline {
    width: 230px;
    height: 2px;
    display: inline-block;
    background-color: #A1B3A4;
    margin-top: 3%;

}

span.secondaryline {
    width: 33px;
    height: 2px;
    display: inline-block;
    background-color: #ffe09d;
    margin-top: 3%;
}

.skillinfo {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 38px;
    line-height: 27px;
    text-transform: uppercase;
    color: #2c2f33;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}

.container-fluid {
    padding-right: 5px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

#about {
    padding: 50px;
    background-color: #ffffff;
}

#portfolio {
    padding: 50px;
    background-color: #FAE4CC;
}

#contact {
    padding: 50px;
}

.contact-form {
    padding: 50px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 9px 26px 0 rgba(0, 0, 0, .19);
    border-radius: 3px;
    background-color: #f5f0ec;
    font-family: 'Roboto', sans-serif;
}

.message {
    padding-left: 16px;
}

html {
    scroll-behavior: smooth;
}

#banner {
    background-image: url("../image/main3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 230px 230px 108px;
    color: #fff;
    /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);*/
    position: relative;
}

ul {
    padding: 3px;
}

.hrefpadding {
    margin-top: 50px;
}

b {
    color: #02bdd5;
}

.table td, .table th {
    border-top: none;
}

.skill {
    margin-top: 40px;
}

main, h1 {
    margin-top: 20px;
}

.section-title {
    color: #000000;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.banner-title {
    color: #02bdd5;
    text-align: center;
    font-weight: bolder;
}

/*.about-title {
    color: #24252c;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.portfolio-title {
    color: #000000;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.contact-title {
    color: #000000;
    text-align: center;
    font-family: 'Cinzel', serif;
}*/

.banner-description {
    color: #24252c;
    font-size: 26px;
    padding-top: 20px;
    font-family: 'Roboto Condensed', serif;
}

.closetBackground {
    background-color: #faf0e6;
    margin-top: 0;
}

.stay {
    margin: 200px 100px 0 100px;
    font-family: "Cinzel", "sans-serif";
}

.footer {
    font-family: "Cinzel", "sans-serif";
    background-color: #f5f0ec;
    padding: 30px;
}

.footer p {
    font-family: "Cinzel", "sans-serif";
}

.footer2 {
    font-family: 'Roboto Condensed', serif;
    background-color: #F9F1D6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shoppingBackground {
    background-color: #eee9d7;
    margin-top: 0;
    color: #008080;
}

.footer3 {
    font-family: 'Roboto Condensed', serif;
    background-color: #d4d5ce;
    padding-top: 20px;
    padding-bottom: 20px;
}

.travelBackground {
    margin-top: 0;
    color: #008B8B;
    background: #D6C3AD no-repeat;
}

.footer4 {
    font-family: 'Roboto Condensed', serif;
    background-color: #FFB6C1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-footer > a {
    color: #17a2b8;
    line-height: 2;
}

.icon-facebook {
    color: #334E80;
}

.icon-linkedin {
    color: #0078B1;
}

.navbar {
    font-family: 'Cinzel', sans-serif;
    position: fixed;
    z-index: 1;
    background-color: #f1f3f2;
    width: 100%;
}

.btn-portfolio {
    background-color: #f5f0ec;
}

@media screen and (max-width: 768px) {
    #banner {
        padding: 10px;
        background-position: 100px 5px;
    }

    .banner-title {
        margin-top: 150px;
    }

    #about, #portfolio, #contact {
        padding: 25px;
    }

    .skill h4 {
        font-size: 15px;
    }

    .skill p {
        font-size: 15px;
    }

    span.primaryline {
        width: 50px;
        margin-top: 0;
    }

    span.secondaryline {
        width: 20px;
    }

    .table td, .table th {
        padding: 0;
    }

    td h4 {
        margin-top: 7px;
    }
}
